global
    log stdout format raw daemon
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
    ssl-default-bind-ciphers PROFILE=SYSTEM

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
    bind *:443 ssl crt /etc/haproxy/certs/uparzone.com.pem
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /
    server node1 192.168.1.101:80 check weight 1
    server node2 192.168.1.102:80 check weight 1
    server node3 192.168.1.103:80 check weight 1
